img {
  width: 400px;
  padding: auto;
}

.card-img-top {
  width: 200px;
  align-self: center;
  padding-top: 25px;
}

#headerH1Elem {
  text-align: center;
}

h2{
  text-align: center;
}

#mainDivElem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.cardDivElems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  width: 200px;
  padding: 5px;
}

#footerPElem {
  margin: 20px auto;
}

.card {
  height: 500px;
  margin: 20px 10px;
  border: thin solid black
}

#heartEmoji {
  width: 30px;
}